/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2712";

	/* Enable I2S interface */
	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	/* Add MCLK clock generator */
	fragment@1 {
		target-path = "/";
		__overlay__ {
			codec_mclk: codec-mclk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				phandle = <1>;
			};
		};
	};

	/* Add AC108 codec to I2C */
	fragment@2 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			ac108_codec: ac108@3b {
				compatible = "x-power,ac108_0";
				reg = <0x3b>;
				#sound-dai-cells = <0>;
				data-protocol = <0>;
				phandle = <2>;
			};
		};
	};

	/* Create sound card */
	fragment@3 {
		target = <&sound>;
		slave_overlay: __overlay__ {
			compatible = "simple-audio-card";
			simple-audio-card,format = "i2s";
			simple-audio-card,name = "seeed-4mic-voicecard";
			status = "okay";

			simple-audio-card,cpu {
				sound-dai = <&i2s>;
			};

			simple-audio-card,codec {
				sound-dai = <2>;
				clocks = <1>;
			};
		};
	};

	__overrides__ {
		card-name = <&slave_overlay>,"simple-audio-card,name";
	};

	__symbols__ {
		codec_mclk = "/fragment@1/__overlay__/codec-mclk";
		ac108_codec = "/fragment@2/__overlay__/ac108@3b";
	};

	__fixups__ {
		i2s = "/fragment@0:target:0",
		      "/fragment@3/__overlay__/simple-audio-card,cpu:sound-dai:0";
		sound = "/fragment@3:target:0";
		i2c1 = "/fragment@2:target:0";
	};

	__local_fixups__ {
		fragment@3 {
			__overlay__ {
				simple-audio-card,codec {
					sound-dai = <0>;
					clocks = <0>;
				};
			};
		};
	};
};
